html {
  min-width: 320px;
}

body {
  background-color: #1f1f1f;
  color: #ffffff;
  margin: 0;
}

#calculator {
  margin: 0 auto;
  max-width: 390px;
  padding: 1rem 0.25rem;
  position: relative;
}

#result {
  color: #aaaaaa;
  font-size: 18px;
  margin: 0;
  min-height: 30px;
  padding-right: 1rem;
  text-align: right;
}

input {
  background-color: unset;
  border: none;
  color: #ffffff;
  font-size: 50px;
  text-align: right;
  width: 100%;
}
input::selection {
  background-color: #424242;
}

#grid {
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(4, 1fr);
  user-select: none;
}

.grid-item {
  align-items: center;
  background-color: #060606;
  display: flex;
  font-size: 20px;
  justify-content: center;
  justify-self: stretch;
  padding: 1rem 0;
}
.grid-item.action {
  background-color: #131313;
  font-size: 16px;
}
.grid-item.action2 {
  background-color: #31302f;
}

.grid-item:hover {
  background-color: #4a4a4e;
}
